API_ID=32871631
API_HASH=f0878eca80c9fd10f94cf45bcd91f5ce
BOT_TOKEN=8795917740:AAEk4b0bJFwGX_GMZyKJslYzjLPy1OHJkFM
OWNER_ID=1356469075
SESSION=AQH1lM8AV7HXUNKj6zVh0w09LAJ9WrfaOHnOhp-2vUaG8Ns0SOdIjNBr_lGQFHJU6DW-f4X5HMy8M-7PsiFt1dL-79bpHQ9ZbqEgMuFhyvKKdzcfG_a41X-5fB-OhHMQ-nKHbV1oPEnFER-WJVZj4jBPHgDmx6ywbb6nQeY26jhnnTQt-A0LXby0aBgT5fcEDWXPPvcmjyMq2e5bMeozEV_QFMLp2A9PeFoQUUfTUcx5eDjdi9UxgkiN7GwvGccn1kGlnNoIIz734D9EpJjLRgpMMk6ReqbgZvOJI2BaiKMWYtLg0hq16B16_mTWoMFxNzmaTTEF52S7nLICjx5Chm4xvxMIrQAAAAIOnFWyAA
